.b_datepicker_root(
class="{{::bRootClasses}}",
ng-class="{b_datepicker_in_progress: !isDataReady}"
)
    input.b_datepicker_input(
    type="text",
    ng-model="bModel",
    placeholder="{{placeholder}}",
    class="{{::bInputClasses}}",
    ng-click="popup.togglePopup()",
    ng-disabled="!isDataReady",
    readonly="readonly"
    )
    button.b_clear_btn(
    type="button",
    class="{{::bButtonClasses}}",
    ng-click="popup.clear()"
    )
        | &times;
    button.b_datepicker_button.b_calendar_btn(
    type="button",
    class="{{::bButtonClasses}}",
    ng-click="popup.togglePopup()",
    ng-disabled="!isDataReady"
    )
        | &nbsp;
    bdate-popup(
    class="{{::bPopupClasses}}",
    popup-state="popup.state",
    popup-source="bSource"
    popup-result="popupResult"
    )