.b_popup(ng-show="popupState.isOpen")
    .b_popup_controls
        .b_btn_prev_container
            button.b_popup_btn.b_btn_prev(
            type="button",
            ng-click="popup.goPrevYear()",
            ng-disabled="popup.isFirstYear()"
            )
                | &#9664;
                | &#9664;
            button.b_popup_btn.b_btn_prev(
            type="button",
            ng-click="popup.goPrevMonth()",
            ng-disabled="popup.isFirstMonth() && popup.isFirstYear()"
            )
                | &#9664;
        .b_popup_month(ng-bind="popupSource.selected.month.name")
        | &nbsp;
        select.b_popup_year(
        ng-model="popupSource.selected.year.num",
        ng-options="year for year in popupSource.years",
        ng-init="year = popupSource.selected.year.num",
        ng-change="popup.goToYear()"
        )
        .b_btn_next_container
            button.b_popup_btn.b_btn_next(
            type="button",
            ng-click="popup.goNextMonth()",
            ng-disabled="popup.isLastMonth() && popup.isLastYear()"
            )
                | &#9654;
            button.b_popup_btn.b_btn_next(
            type="button",
            ng-click="popup.goNextYear()",
            ng-disabled="popup.isLastYear()"
            )
                | &#9654;
                | &#9654;
    table.b_popup_days
        tr
            td.b_popup_day_of_week(ng-repeat="dayOfWeek in ::popupSource.week")
                span(ng-bind="::dayOfWeek")
    table.b_popup_weeks
        tr.b_popup_week
            td.b_popup_day(
            ng-repeat="date in popupSource.selected.dates track by $index",
            ng-class="{b_popup_today_day_container: date.isToday}"
            )
                button.b_popup_day_btn(
                type="button",
                ng-bind="date.day",
                ng-click="popup.selectDate(date)",
                ng-disabled="date.isDisabled",
                ng-class="{b_popup_day_in_selected_month: popup.isDayInSelectedMonth(date), b_popup_today_day: date.isToday, b_popup_selected_day: popup.isSelectedDay(date)}"
                )
    .b_popup_today(ng-show="popupSource.today")
        button.b_popup_today_btn(
        type="button",
        ng-bind="popup.getTodayDateTime() | date:popupSource.format",
        ng-click="popup.selectDate(popupSource.today)"
        )