.b_range_popup_back(ng-show="popupState.isOpen")
    .b_popup.b_range_popup.b_range_popup_start
        .b_popup_controls
            .b_btn_prev_container
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevYear(true)",
                ng-disabled="popup.isFirstYear(true)"
                )
                    | &#9664;
                    | &#9664;
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevMonth(true)",
                ng-disabled="popup.isFirstMonth(true) && popup.isFirstYear(true)"
                )
                    | &#9664;
            .b_popup_month(ng-bind="popupSource.month.name")
            | &nbsp;
            select.b_popup_year(
            ng-model="popupSource.year.num",
            ng-options="year for year in popupSettings.years",
            ng-init="year = popupSource.year.num",
            ng-change="popup.goToYear(true)"
            )
            .b_btn_next_container
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextMonth(true)",
                ng-disabled="popup.isLastMonth(true) && popup.isLastYear(true)"
                )
                    | &#9654;
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextYear(true)",
                ng-disabled="popup.isLastYear(true)"
                )
                    | &#9654;
                    | &#9654;
        table.b_popup_days
            tr
                td.b_popup_day_of_week(ng-repeat="dayOfWeek in ::popupSource.week")
                    span(ng-bind="::dayOfWeek")
        table.b_popup_weeks
            tr.b_popup_week
                td.b_popup_day(
                ng-repeat="date in popupSource.dates track by $index",
                ng-class="{b_popup_today_day_container: date.isToday}"
                )
                    button.b_popup_day_btn(
                    type="button",
                    ng-bind="date.day",
                    ng-click="popup.selectDate(true, date)",
                    ng-disabled="date.isDisabled",
                    ng-class="{b_popup_day_in_selected_month: popup.isDayInSelectedMonth(true, date), b_popup_today_day: date.isToday, b_popup_selected_day: popup.isSelectedDay(date)}"
                    )
        .b_popup_today(ng-show="popupSource.today")
            button.b_popup_today_btn(
            type="button",
            ng-bind="popup.getTodayDateTime() | date:popupSource.format",
            ng-click="popup.selectDate(true, popupSource.today)"
            )
    .b_popup.b_range_popup.b_range_popup_end
        .b_popup_controls
            .b_btn_prev_container
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevYear(false)",
                ng-disabled="popup.isFirstYear(false)"
                )
                    | &#9664;
                    | &#9664;
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevMonth(false)",
                ng-disabled="popup.isFirstMonth(false) && popup.isFirstYear(false)"
                )
                    | &#9664;
            .b_popup_month(ng-bind="popupSource.month.name")
            | &nbsp;
            select.b_popup_year(
            ng-model="popupSource.year.num",
            ng-options="year for year in popupSource.years",
            ng-init="year = popupSource.year.num",
            ng-change="popup.goToYear(false)"
            )
            .b_btn_next_container
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextMonth(false)",
                ng-disabled="popup.isLastMonth(false) && popup.isLastYear(false)"
                )
                    | &#9654;
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextYear(false)",
                ng-disabled="popup.isLastYear(false)"
                )
                    | &#9654;
                    | &#9654;
        table.b_popup_days
            tr
                td.b_popup_day_of_week(ng-repeat="dayOfWeek in ::popupSource.week")
                    span(ng-bind="::dayOfWeek")
        table.b_popup_weeks
            tr.b_popup_week
                td.b_popup_day(
                ng-repeat="date in popupSource.dates track by $index",
                ng-class="{b_popup_today_day_container: date.isToday}"
                )
                    button.b_popup_day_btn(
                    type="button",
                    ng-bind="date.day",
                    ng-click="popup.selectDate(date)",
                    ng-disabled="date.isDisabled",
                    ng-class="{b_popup_day_in_selected_month: popup.isDayInSelectedMonth(date), b_popup_today_day: date.isToday, b_popup_selected_day: popup.isSelectedDay(date)}"
                    )
        .b_popup_today(ng-show="popupSource.today")
            button.b_popup_today_btn(
            type="button",
            ng-bind="popup.getTodayDateTime(false) | date:popupSource.format",

            )
    button(
    type="button"
    ng-click="popup.selectRangedDate()"
    )
        | Ok