.b_range_popup_back(ng-show="popupState.isOpen", aria-label="Select dates range popup")
    .b_popup.b_range_popup.b_range_popup_start
        .b_popup_controls(aria-label="Popup navigation")
            .b_btn_prev_container
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevYear(true)",                
                aria-label="Select preview year",
                ng-disabled="popup.isFirstYear(true)"
                )
                    | &#9664;
                    | &#9664;
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevMonth(true)",
                aria-label="Select preview month",
                ng-disabled="popup.isFirstMonth(true) && popup.isFirstYear(true)"
                )
                    | &#9664;
            .b_popup_month(ng-bind="popupStartSource.month.name")
            | &nbsp;
            select.b_popup_year(
            ng-model="popupStartSource.year.num",
            ng-options="year for year in popupStartSource.years",
            ng-init="year = popupStartSource.year.num",
            aria-label="Select year from list",
            ng-change="popup.goToYear(true)"
            )
            .b_btn_next_container
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextMonth(true)",
                aria-label="Select next month",
                ng-disabled="popup.isLastMonth(true) && popup.isLastYear(true)"
                )
                    | &#9654;
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextYear(true)",
                aria-label="Select next year",
                ng-disabled="popup.isLastYear(true)"
                )
                    | &#9654;
                    | &#9654;
        table.b_popup_days(aria-label="Days of selected month")
            tr
                td.b_popup_day_of_week(ng-repeat="dayOfWeek in ::popupSettings.week")
                    span(ng-bind="::dayOfWeek")
        table.b_popup_weeks
            tr.b_popup_week(aria-label="Days of month")
                td.b_popup_day(
                ng-repeat="date in popupStartSource.dates track by $index",
                ng-class="{b_popup_today_day_container: date.isToday}"
                )
                    button.b_popup_day_btn(
                    type="button",
                    ng-bind="date.day",
                    ng-click="popup.selectDate(true, date)",
                    ng-disabled="date.isDisabled",
                    aria-label="{{date.day}}-{{date.month}}-{{date.year}}",
                    ng-class="{b_popup_day_in_selected_month: popup.isDayInSelectedMonth(true, date), b_popup_today_day: date.isToday, b_popup_selected_day: popup.isSelectedDay(true, date)}"
                    )
        .b_popup_today(ng-show="popupSettings.today", aria-label="Select today"))
            button.b_popup_today_btn(
            type="button",
            ng-click="popup.selectDate(true, popupSettings.today)",
            ng-bind="popup.getTodayDateTime() | date:popupSettings.format",
            )
    .b_popup.b_range_popup.b_range_popup_end
        .b_popup_controls(aria-label="Popup navigation")
            .b_btn_prev_container
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevYear(false)",
                aria-label="Select preview year",
                ng-disabled="popup.isFirstYear(false)"
                )
                    | &#9664;
                    | &#9664;
                button.b_popup_btn.b_btn_prev(
                type="button",
                ng-click="popup.goPrevMonth(false)",
                aria-label="Select preview month",
                ng-disabled="popup.isFirstMonth(false) && popup.isFirstYear(false)"
                )
                    | &#9664;
            .b_popup_month(ng-bind="popupEndSource.month.name")
            | &nbsp;
            select.b_popup_year(
            ng-model="popupEndSource.year.num",
            ng-options="year for year in popupEndSource.years",
            ng-init="year = popupEndSource.year.num",
            aria-label="Select year from list",
            ng-change="popup.goToYear(false)"
            )
            .b_btn_next_container
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextMonth(false)",
                aria-label="Select next month",
                ng-disabled="popup.isLastMonth(false) && popup.isLastYear(false)"
                )
                    | &#9654;
                button.b_popup_btn.b_btn_next(
                type="button",
                ng-click="popup.goNextYear(false)",
                aria-label="Select next year",
                ng-disabled="popup.isLastYear(false)"
                )
                    | &#9654;
                    | &#9654;
        table.b_popup_days(aria-label="Days of selected month")
            tr
                td.b_popup_day_of_week(ng-repeat="dayOfWeek in ::popupSettings.week")
                    span(ng-bind="::dayOfWeek")
        table.b_popup_weeks
            tr.b_popup_week(aria-label="Days of month")
                td.b_popup_day(
                ng-repeat="date in popupEndSource.dates track by $index",
                ng-class="{b_popup_today_day_container: date.isToday}"
                )
                    button.b_popup_day_btn(
                    type="button",
                    ng-bind="date.day",
                    ng-click="popup.selectDate(false, date)",
                    ng-disabled="date.isDisabled",
                    aria-label="{{date.day}}-{{date.month}}-{{date.year}}",
                    ng-class="{b_popup_day_in_selected_month: popup.isDayInSelectedMonth(false, date), b_popup_today_day: date.isToday, b_popup_selected_day: popup.isSelectedDay(false, date)}"
                    )
        .b_popup_today(ng-show="popupSettings.today", aria-label="Select today")))
            button.b_popup_today_btn(
            type="button",
            ng-click="popup.selectDate(false, popupSettings.today)",
            ng-bind="popup.getTodayDateTime() | date:popupSettings.format",
            )
    button.ok_btn(
    type="button"
    ng-disabled="!data.startResult || !data.endResult",
    ng-click="popup.selectRangedDate()"
    )
        | Ok